.contactMain {
  margin-top: 10rem;
}
.contactMain .contactFormContainer {
  position: relative;
  z-index: 9;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contactMain .contactFormContainer form {
  width: 560px;
  box-sizing: border-box;
  display:block;
}

.contactMain .contactFormContainer input {
  display: block;
  margin: 0 auto;
  height: 2.5rem;
  font-size: 1rem;
  padding-top: 1rem;
}

.contactMain input,
.contactMain textarea {
  width: 100%;
  border-radius: 0.5rem;
}

.contactMain textarea{
    padding: 0.5rem;
    font-size:1rem;
    width: 550px;
}

.contactMain button{
    display:block;
    margin-top: 2rem;
    float:right;
}