.headerMain{
    background-color: var(--black-light);
    width: 100%;
    position:fixed;
    z-index: 10;
    font-size: 1.3rem;
}

.headerMain ul{
    margin: 0 auto;
    display: flex;
    color: var(--cultured);
    font-family: Consolas;
    
}

.headerMain li{
    list-style-type: none;
    padding: 2rem 1rem;
    cursor: pointer;    
    max-width: 10%;
}