.projectsMain .buttonContainer {
  text-align: center;
}

.projectsMain .project h2 {
  font-size: 3rem;
}
.projectsMain .project {
  display: flex;
  width: 85%;
  color: var(--cultured);
  font-family: Consolas;
  margin: 0 auto;
  position: relative;
}
.projectsMain .project p{
    font-size:2rem;
}
.projectsMain button {
  margin-top: 2rem;
}

.projectsMain .project > div:first-child {
  flex-grow: 1;
  padding: 3rem 0rem;
  background-color: var(--cornflower-blue);
}
.projectsMain .project > div:nth-child(2) {
  flex-grow: 1;
  width: 100%;
  position: relative;
  right: 50px;
}

.projectsMain img {
  max-width: 90%;
}

.projectsMain .projectHeaders {
  line-height: 1rem;
}

.projectsMain .buttons button:first-child{
    margin-right:1rem;
}
