.skillsMain {
  font-family: Consolas;
}

.skillsMain .icon {
  font-size: 5rem;
}

.skillsMain .skillsFlexbox {
  display: flex;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.skillsFlexbox > div {
  flex-grow: 1;
  text-align: center;
  margin-top: 4rem;
}

.skillsMain .skillsName{
    color: var(--red-ryb);
    font-size:2rem;
}

.skillsMain .skillsContainer{
    position: relative;
}

.skillsMain .skillsName{
    margin-top: -2rem;
    margin-bottom: 4rem;
}

.skillsMain svg {
    fill:var(--cultured);
}