.skillsMain {
  font-family: Consolas;
}

.skillsMain .icon {
  font-size: 8rem;
}

.skillsMain h2 {
  font-size: 4rem;
  color: var(--cultured);
  text-align: center;
  position: relative;
  z-index: 0;
}

.skillsMain h2::before {
  content: "";
  border-bottom: 18px solid var(--red-ryb);
  width: 16rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 3.5rem;
  top: 4.5rem;
  z-index: -1;
}

.skillsMain .skillsFlexbox {
  display: flex;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.skillsFlexbox > div {
  flex-grow: 1;
  text-align: center;
  margin-top: 4rem;
}

.skillsMain .skillsName{
    color: var(--red-ryb);
    font-size:2rem;
}

.skillsMain .skillsContainer{
    position: relative;
}

.skillsMain .skillsName{
    margin-top: -2rem;
    margin-bottom: 4rem;
}

.skillsMain svg {
    fill:var(--cultured);
}