.title {
  font-size: 4rem;
  color: var(--cultured);
  text-align: center;
  position: relative;
  z-index: 0;
  font-family: Consolas;
}

.title::before {
  content: "";
  border-bottom: 18px solid var(--red-ryb);
  width: 16rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 3.5rem;
  top: 4.5rem;
  z-index: -1;
}
