.appMain {
  background-color: var(--eerie-blac);
  height: 500vh;
}


.homeContainer{
    height: 100vh;
    display:flex;
    align-items: center;
}

.homeContainer>div{
    flex:1;
    text-align: center;
}

.appMain .aboutMeContainer{
  margin-top: 10rem;
}

.appMain .projectsContainer{
  margin-top: 20rem;
}

