:root {
  --cultured: #eef0f2;
  --red-ryb: #ff220c;
  --black-light: #292929;
  --cultured: #eef0f2;
  --eerie-blac: #141414;
  --rufous: #a30e00;
  --cornflower-blue: #7692ff;
  --blue-neon: #476cff;
  --scrollbar-width: thin !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--black-light);
}

body::-webkit-scrollbar-thumb {
  background: var(--red-ryb);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
